.grid-container {
  display: grid;
  height: auto;/*height of container*/
  align-content: space-around;/*aligns rows in the container*/
  justify-content: space-evenly;/*justifys column space in the container*/
  grid-template-columns: 1fr 1fr 1fr;/*Controls column size (Make the grid smaller than the container)*/
  /*grid-template-rows: 100px auto 65px auto;Controls row size (Make the grid smaller than the container)*/
  grid-auto-rows: minmax (100px, auto);
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;

}
.grid-container > div {
  grid-column: 1/ span 3;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 3px solid black;
}

html, body {
  box-sizing: border-box;
  background-color: white;
  height: 100%
  padding:10px
  margin: 00px;
  }
/*html, body {
  background-color: #ffeead;
  margin: 10px;
}*/
